body {
    background-color: #5386ec;
}
div.window {
    position: relative;
    height: 100%;
    margin: auto;
    width: 360px;
}
div.form {
    position: absolute;
    top: 30%;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
input.sss {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5281e5;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}
input.sss:hover,input.sss:active,input.sss:focus {
    background: #406de5;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
}
.form .message a {
    color: #3d74e5;
    text-decoration: none;
}
.form .error_message {
    margin: 15px 0 0;
    color: rgba(204,45,31,0.8);
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
}